.chakra-ui-light {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
    color: #f5f1dc;
    font-family: 'Quicksand', sans-serif;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
 
    50% {
        background-position: 100% 50%;
    }
 
    100% {
        background-position: 0% 50%;
    }
}

.content-container {
    min-height: calc(100vh - 34px);
}

.footer--pin {
    position: relative;
    left: 0;
    bottom: 0;
  }

#aboutMe-card{
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(4px);
}

#aboutMe-card:hover{
    background-color: rgba(255, 255, 255, 1);
    backdrop-filter: none;
}

#navbar-links:hover{
    color: #23d5ab;
}

